.select__group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  min-width: 30%;
  max-width: 100%;
}

@media  (max-width: 1360px) {
  .select__group {
    flex-direction: column;
  }
}